.App {
  text-align: center;
}
.profile-pic{
  width: 32px;
  height: 30px;
  background-image: url(./assets/icons/defaltPicture.png);
}
.profile-picture{
  width: 54px;
  height: 54px;
  background-image: url(./assets/icons/profile-pic.png);
}